*{
    margin:0;
    padding: 0;
}
/* header */

header{
    color : white;
    background-image: url(/images/mobile/image-hero.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.grid-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}

/*header nav bar */

ul{
    list-style-type: none;
    margin-left: 100px;
    padding-top: 40px;
    
    }
    
    a {
      text-decoration: none;
      color: white; 
      margin: 10px;
    }
    
    li{
      display: inline;
      min-width: 3em;
      margin: 2em;
    }


    #title-h1, .header-h1{
        padding-top: 25px;
        margin-left: 4em;
    }

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.header-h1{
    width:500px;
    height: 100px; 
    border: 2px solid #fff;
}

/*interactive part*/

.interactive-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.interactive-img, .interactive-txt {
min-width: 50%;
min-height: 50%;
}

.interactive-img img{
   display: block;
   width: 100%;
}