@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
   
}
/* header */

header{
    color : white;
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    background-color: #000;
    
}

.grid-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}

/*header nav bar */

ul{
    list-style-type: none;
    margin-left: 100px;
    padding-top: 40px;
    
    }
    
    a {
      text-decoration: none;
      color: white; 
      margin: 10px;
    }
    
    li{
      display: inline;
      min-width: 3em;
      margin: 2em;
      font-family: 'Alata', sans-serif;
      font-weight: 400;
    }


    .logo, .header-h1{
        padding-top: 25px;
        margin-left: 4em;
    }

    .header-h1{
        font-size: 30px;
    }
/*footer */
.attribution { 
    margin: 0;
    height: 20em;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.logo.footer { grid-area: 1 / 1 / 2 / 2; }
.menu.footer { grid-area: 2 / 1 / 3 / 2; }
.social.footer { grid-area: 1 / 2 / 2 / 3;  }
.end.footer { grid-area: 2 / 2 / 3 / 3; }

.attribution a {
    color: hsl(228, 45%, 44%);
}

.header-h1{
    width:500px;
    height: 200px; 
    border: 2px solid #fff;
    padding: 30px;
}

/*interactive part*/

.interactive-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.interactive-img img{
   display: block;
   width: 100%;
}

.interactive-img{
    padding-left: 25em;
    margin: 20px;
    grid-column: 1 / 3;
    grid-row: 1;
}

.interactive-txt{
    margin-bottom: -10px;
    grid-column: 3 / 3;
    grid-row: 1;
    background-color:  #fff;
}



/*creation grid*/

.creation-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 10px;
    
}

.grid-1 {
     grid-area: 1 / 1 / 2 / 2;
     background-image: url(/images/desktop/image-deep-earth.jpg); 
     height: 40em;
     background-repeat: no-repeat;
}
.grid-2 { 
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(/images/desktop/image-deep-earth.jpg); 
    background-repeat: no-repeat;
 }
.grid-3 { grid-area: 1 / 3 / 2 / 4;
    background-image: url(/images/desktop/image-night-arcade.jpg); 
    background-repeat: no-repeat;
 }
.grid-4 { grid-area: 1 / 4 / 2 / 5;
    background-image: url(/images/desktop/image-soccer-team.jpg); 
    background-repeat: no-repeat;
 }
.grid-5{ grid-area: 2 / 1 / 3 / 2;
    background-image: url(/images/desktop/image-grid.jpg); 
    background-repeat: no-repeat;
 }
.grid-6 { grid-area: 2 / 2 / 3 / 3;
    background-image: url(/images/desktop/image-from-above.jpg); 
    background-repeat: no-repeat;
 }
.grid-7 { grid-area: 2 / 3 / 3 / 4;
    background-image: url(/images/desktop/image-pocket-borealis.jpg); 
    background-repeat: no-repeat;
 }
.grid-8 { grid-area: 2 / 4 / 3 / 5;
    background-image: url(/images/desktop/image-fisheye.jpg); 
    background-repeat: no-repeat;
 }