@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
   
}
/* header */

header{
    color : white;
    background-image: url(/images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    background-color: #000;
    
}

.grid-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
}

/*header nav bar */

ul{
    list-style-type: none;
    margin-left: 100px;
    padding-top: 40px;
    
    }
    
    a {
      text-decoration: none;
      color: white; 
      margin: 10px;
    }
    
    li{
      display: inline;
      min-width: 3em;
      margin: 2em;
      font-family: 'Alata', sans-serif;
      font-weight: 400;
    }


    .logo, .header-h1{
        padding-top: 25px;
        margin-left: 4em;
    }

    .header-h1{
        font-size: 30px;
    }

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.header-h1{
    width:500px;
    height: 200px; 
    border: 2px solid #fff;
    padding: 30px;
}

/*interactive part*/

.interactive-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.interactive-img, .interactive-txt {
min-width: 50%;
min-height: 50%;
}

.interactive-img img{
   display: block;
   width: 100%;
}